* {
    box-sizing: border-box;
}

html {
    background-color: rgb(251, 224, 255);
}

body {
    font-family: "Arial", sans-serif;
    font-size: 20px;
}

img {
    width: 500px;
    border: 2px solid black;
}

/* h1 {
    color: #cf2868c5;
    background-color: rgb(255, 235, 205);
    font-weight: bold;
    font-size: 60px;
    font-family: "Georgia", serif;
} */

h2 {
    color: #cf2868c5;
    font-weight: bold;
    font-size: 30px;
    background-color: rgb(254, 239, 255);
}

strong {
    font-weight: bold;
}

.box-menu {
    width: 50%;
    margin: auto;
    border-left: 10px solid black;
    border-right: 10px solid black;
    border-top: 1px solid transparent;
    border-bottom: 1px solid black;
    background-color: rgb(242, 157, 255);
}

.box-menu h1 {
    text-align: center;
    font-weight: bold;
    font-size: 60px;
    font-family: "Georgia", serif;
    margin: auto;
    padding: 10px 0px;
}

.box-menu ul {
    display: block;
    text-align: center;
}

.box-menu li {
    display: inline-block;
    margin: 5px;
    border: 2px solid purple;
    background-color: violet;
}

.box-menu a {
    display: block;
    padding: 8px;
    text-decoration: none;
}

.box-menu a:hover {
    background-color: rgb(231, 88, 231);
}

.box-menu img {
    display: block;
    width: 20%;
    margin: 20px auto;
    border: none;
}